:root{
    font-family: 'Inter','icones',sans-serif;
    
    src: url(../font/icones.ttf);
}
body{
    background: #051D3B;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    padding: 44px 32px;
    
}
.cabecalho-logo{
    width: 145px;
    height: 34.5px;
}
.cabecalho-busca{  
    width: 52%;
    height: 56px;
    border-radius: 8px;
    background: rgba(255, 255, 255,0.16); 
    font-size: 20px;   
    color: white;
    padding-left: 1.5rem;
}
.cabecalho_user-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    transition: 0.1s;
}
.cabecalho_user-info:hover{
    background: rgba(255, 255, 255,0.16); 
    border-radius: 8px;
}
    .cabecalho_foto-perfil{
        width: 32px;
        height: 32px;
    }
    .cabecalho-username{
        color: white;
        margin-left: 1.2rem;
    }

/*main*/
.main{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}


.navegacao{
    color: white;
    padding: 44px 32px;
    
}
.navegacao_titulo , .projeto_titulo, .projeto-personalizacao{
    text-transform: uppercase;
    letter-spacing: .5rem;
}
.navegacao_menu{
}
.navegacao_item{
    display: flex;
    align-items: center;
    padding: 0.75rem 0;


}
.navegacao_icone-codigo{
    background: center no-repeat url(../../img/Menu/icon_codigo.png);
    
    border-radius: 1rem;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-right: 1rem;
    width: 48px;
    height: 48px;
    background-color: #5081FB;
}

.navegacao_icone-comunidade{
    background: center no-repeat url(../../img/Menu/icon_comunidade.png);
    background-color:#5080fb15;
    border-radius: 1rem;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-right: 1rem;
    width: 48px;
    height: 48px;
}
.editor {
    background-color: red;
}
.projeto{
    color: white;
    padding: 44px 32px;
}
.projeto-info{
    padding-bottom: 1.5rem;
}
.projeto-nome,.projeto-descricao,.selecao_linguagem{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 272px;
    height: 56px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.16); 
    
    font-size: 20px;   
    padding-left: 1.5rem;
    margin: 1.5rem 0;
}
.projeto-descricao{
    height: 80px;
}

.selecao_linguagem{
    color: rgba(255, 255, 255); 
    align-items: center;
    padding-top: 1rem;
    
}
.opcao_linguagem{
    color: white;
    background:#051D3B ;
}
 